    <!-- <div class="body" style="min-height: 10em; background-image:final_logo_1.png;"> -->
        <!-- <h1 style="font-family:'Buxton Sketch'; font-size:60px;  margin:0px; padding:0px; margin-left:20px; padding-top:20px;">Map My Village</h1> -->
<!--         <img src="/assets/logo2.png" width="250px" />
    </div>
    <div>
        <h2>Projects</h2>
    <div style="">
        <% @projects.each do |f| %>
        <a href="/project/<%= f.id %>"><%= f.name %> </a> <br /><br />
        <% end %>
    </div>
    </div>
 -->
<section id="placeholder">
        <div id="data" class="span3" style="height: 100%;">
        <img src="/assets/logo2.png" width="250px" />
        <h3>Projects</h3>
        <% @projects.each do |f| %>
        <a href="/project?id=<%= f.id %>"><%= f.name %> </a> <br /><br />
        <% end %>
        </div>
        <div id="map" class="span9" style="height: 100%;width: 78%;">
        <img src="/assets/side.jpg" width="850px;" />
        </div>
    </section>